<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
<div th:insert="blocks/header ::  heade"> </div>


<div class = "container mt-5 mb-5">
    <h1>Edit post</h1><br>
    <div th:each="el:${post}">
        <form method="post">
            <input type="text" th:value="${el.title}" name="title" placeholder="Add title post" class="form-control"><br>
            <input type="text" th:value="${el.announcement}" name="announcement" placeholder="Add short information about post" class="form-control"><br>
            <textarea name="fullText"  placeholder="Add text" th:text="${el.fullText}" class="form-control"/><br>
            <button type="submit" class="btn btn-success">Edit post</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: foote"></div>

</body>
</html>